@import '../../styles/variables.scss';

.itemCard {
  padding: 1rem;
  margin:  0 -1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px $grey;

}
.itemCard__container {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100%;
}
.itemCard:nth-child(even) {
  background-color: #f1f1f1;
}

.itemCard:nth-child(odd) {
  background-color: #fefefe;
}

.itemCard__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: .5rem 1rem;
  height: 100%;
}

.itemCard__image {
  min-width: 100px;
  width: 100px;
  height: 100px;
  object-position: center;
  object-fit: cover;
  border-radius: 4px;
}
.itemCard__title {
  display: inline-block;
  color: $black;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.itemCard__subtitle {
  text-transform: capitalize;
  font-size: .9rem;
  color: $grey;
}