.modal {
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.modal__inner {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  position: relative;
}
.modal__title {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}
.modal__info--link, .modal__info {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.modal__info--link {
  color: black;
  text-decoration: underline;
}