h1 {
  font-size: 1.8rem;
  margin-bottom: .5rem;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}
h3 {
  font-size: 1.2rem;
  margin-bottom: .3rem;
}
main {
  max-width: 1140px;
  padding: 2rem 0;
}

/*
  Items Component
*/
.items__grid {
  padding: 0 1rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/*
  Header Component
*/
.header__nav {
  justify-content: flex-end;
}
.header__img {
  display: block;
  width: 45px;
}

/*
  ItemCard Component
*/
.itemCard {
  margin:  0;
  padding: 0;
  height: 100%;
  max-height: 400px;
  border-radius: 4px;
}
.itemCard__img {
  width: 100%;
}
.itemCard__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  height: 100%;
}
.itemCard:nth-child(even) {
  background-color: #fefefe;
}

.itemCard:nth-child(odd) {
  background-color: #fefefe;
}

.itemCard__details {
  display: flex;
  padding: 1rem;
  justify-content: flex-start;
  padding-top: .5rem;
  width: 100%;
}
.itemCard__subtitle.description {
  display: block;
}
.itemCard__subtitle.category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: .8rem;
  padding: 7px 12px;
  color: $white;
  border-radius: 20px;
  &.furniture {
    background-color: #B51AC3;
  }
  &.clothes {
    background-color: #3CC31A;
  }
  &.computers {
    background-color: #61b1fc;
  }
}
.itemCard__image {
  width: 100%;
  height: 180px;
  object-position: center;
  object-fit: cover;
  border-radius: 4px 4px 0 0 ;
}
.itemCard__primary {
  order: 2;
}
.itemCard__secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}
.icon__container {
  position: relative;
  right: auto;
  top: auto;
}
.icon__heart--btn {
  position: relative;
  right: 0;
  top: 0;
}

/*
  Form Component
*/
.form__container {
  max-width: 768px;
  margin: 0 auto;
}

/* 
  ImageSlot
*/
.ImageSlot__container {
  position: relative;
  height: 150px;
}
.ImageSlot__input-wrapper {
  height: 150px;
}

/*
  Item details View
*/
.details__container {
  max-width: 768px;
}

/*
  Carousel Component
*/
.carousel__img {
  height: 350px;
}

/*
  Modal Component
*/
.modal {
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #252422d2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.modal__inner {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: auto;
  padding: 3rem;
  border-radius: 4px;
  position: relative;
}
.modal__title {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}
.modal__info--link, .modal__info {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.modal__info--link {
  color: black;
  text-decoration: underline;
}
/*
  Trades view
*/
.trades__container {
  max-width: 768px;
  margin: 0 auto;
}

/*
  My account Components
*/
.account {
  max-width: 768px;
  margin: 0 auto;
}
.button__wrapper {
  padding: 1rem 0;
}