h3 {
  margin-bottom: .3rem;
}

a {
  text-decoration: none;
}
p {
  line-height: 1.2rem;
}

#root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main {
  width:100%;
  margin: 0 auto;
  padding: 3rem 0;
}

/*
  Icons
*/
.icon__heart {
  font-size: 1.5rem;
  color: red;
}

.btn__close {
  position: absolute;
  right: .5rem;
  top: .5rem;
}

.icon__delete {
  font-size: 1.5rem;
  color: black;
  
}
.icon__heart--btn {
  position: absolute;
  right: 1rem;
  top: 40%;
  bottom: 50%;
}
/*
  Header Component
*/
.header {
  background-color: $white;
  box-shadow: 0px 0px 4px #25242249;
  padding: .5rem 0;
}
.header__container {
  display: flex;
  align-items: center;
  max-width: 1140px;
  padding: 0 1rem;
  margin: 0 auto;
}
.header__logo {
  max-width: 90px;
}
.header__nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $black;
  gap: .5rem;
  height: 3rem;
  font-size: 10px;
}
.header__icon {
  font-size: 1.5rem;
}
.header__img {
  display: none;
}

/*
  Home view
*/
.home__items-container {
  display: grid;
  grid-template-columns: 1fr;
}

/*
  Form
*/
.form__container {
  padding: 0 1rem;
}
.form__title {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}
.form__subtitle {
  color: $grey;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  min-width: 100%;
}
.form__label {
  display: flex;
  flex-direction: column;
  color: $grey;
  position: relative;
}
.form__input {
  border: 1px solid $grey;
  margin-top: .2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
  &::placeholder {
    color: $grey;
  }
}
.form__signup--text {
  margin-top: .5rem;
  color: $grey;
  font-weight: 700;
  font-size: .9rem;
  text-align: center;
}
.form__signup--link {
  color: $primaryColor;
}
.form__image--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  margin-bottom: 1rem;
}
.primary__btn {
  padding: 1rem;
  border: 2px solid $primaryColor;
  background-color: $primaryColor;
  color: $white;
  font-weight: 700;
  border-radius: 4px;
  width: 100%;
  margin: .5rem 0;
  &:hover {
    background-color: darken($primaryColor, 10%);
  }
}
.secondary__btn {
  padding: 1rem;
  border: 2px solid $primaryColor;
  background-color: $white;
  color: $primaryColor;
  font-weight: 700;
  border-radius: 4px;
  width: 100%;
  margin: .5rem 0;
  &:hover {
    background-color: darken($primaryColor, 10%);
  }
}
.snack-message {
  padding: 1rem;
  color: white;
  background-color: rgb(83, 172, 83);
  border-radius: 4px;
  text-align: center;
  margin: 1rem 0;
}
/*
  ItemCard Component
*/
.itemCard {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px $grey;

}
.itemCard__container {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100%;
}
.itemCard:nth-child(even) {
  background-color: #f1f1f1;
}

.itemCard:nth-child(odd) {
  background-color: #fefefe;
}

.itemCard__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: .5rem 1rem;
  height: 100%;
}

.itemCard__image {
  min-width: 100px;
  width: 100px;
  height: 100px;
  object-position: center;
  object-fit: cover;
  border-radius: 4px;
}
.itemCard__title {
  display: inline-block;
  color: $black;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.itemCard__subtitle {
  text-transform: capitalize;
  font-size: .9rem;
  color: $grey;
}
.itemCard__subtitle.description {
  display: none;
}
.icon__container {
  position: absolute;
  right: 1rem;
  top: 40%;
  z-index: 1000;
}
/*
  Item Details View
*/
.details__container {
  padding: 0 1rem;
}
.details {
  padding: 1rem 0;
}

.details__title {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: $black;
  text-transform: capitalize;
}

.details__caption {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  color: $grey;
  p {
    margin: 0;
    font-size: .9rem;
  }
}
.details__caption--posted {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  color: $black;
  text-decoration: underline;
  p {
    margin: 0;
    font-size: .9rem;
  }
}

.details__description {
  margin: 1rem 0;
  line-height: 1.5rem;
}

.details__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*
  Carousel Component
*/
.carousel__container {
  position: relative;
}
.carousel__btn--next, .carousel__btn--prev {
  display: block;
  position: absolute;
  top: 45%;
  bottom: 45%;
}
.carousel__btn--next {
  right: .5rem;
}
.carousel__btn--prev {
  left: .5rem;
}
.carousel__btn--icon {
  font-size: 2rem;
  color: $black;
}
.carousel__number {
  text-align: right;
  margin-right: 1rem;
  font-weight: 700;
  font-size: .8rem;
}
.carousel__img {
  width: 100%;
  display: block;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.25rem;
}

/*
  SnackBar Component
*/
.snackbar {
  z-index: 1000;
  box-shadow: 0 0 4px $grey;
  text-align: center;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
}
.snackbar__container {
  position: relative;
}
.snackbar__close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: $white;
}
.snackbar__error, .snackbar__success {
  padding: 1.5rem 1rem;
  font-size: .9rem;
  border-radius: 4px;
  color: $white;
  font-weight: 700;
}
.snackbar__success {
  background-color: $primaryColor;
}
.snackbar__error {
  background-color: $red;
}

/*
  Footer Component
*/
.footer {
  background-color: $nav-bg;
  text-align: center;
  padding: 2rem 0;
}

/*
  Modal Component
*/
.modal {
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.modal__inner {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  position: relative;
}
.modal__title {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}
.modal__info--link, .modal__info {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.modal__info--link {
  color: black;
  text-decoration: underline;
}