/*
  Variables
*/
$primaryColor: #53B175;
$black: #252422;
$grey: lighten($black, 50%);
$lightGrey: lighten($black, 70%);
$white: #fefefe;
$red: #FF6B6B;

$card-bg-light: #e6e6e6;
$card-bg-dark: #d8d8d8;
$nav-bg: #C4C4C4;