@import '../../styles/variables.scss';

.MatchCard {
  display: flex;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0 1px $grey;

  &:nth-child(even) {
    background-color: #f1f1f1;
  }

  &:nth-child(odd) {
    background-color: #fefefe;
  }
}
.MatchCard__header {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.MatchCard__userCircle {
  padding: 0.5rem;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: $grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: $white;
  font-size: 1.5rem;
}

.MatchCard__text {
  font-size: .9rem;
  color: $black;
  &.count {
    color: $primaryColor;
    font-weight: 700;
  }
}

.MatchCard__icon {
  font-size: 2rem;
  color: $black;
}
.MatchCard__envelopeIcon {
  color: $grey;
  font-size: 2rem;
  &:hover {
    color: $black;
  }
}

.MatchCard__user {
  text-align: left;
  padding: 0 1rem;
  flex: 1;
}